*{
    
    margin:0;
    padding:0;
    font-family: 'lora',sans-serif;
    box-sizing: border-box;
    line-height: 1.5rem;

} 
body {
    font-family: Lora, sans-serif;
    color: #000;
    font-size: 1rem;
    line-height: 1.5;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15 px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  nav a { 
    flex:0.99;
    text-align: right;
    color:black;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    padding-left: 3%;
    padding-top: 1%;
  }
  nav img {
    float:left;
    width: 100px;
    height: 30px;
    padding-left: 0rem;
    padding-right: 40%;
    padding-top: 0.3%;
  }
.logo{
    max-width: 2.6%;
    margin-left: 0.6%;
    margin-top: 0.4%;
    margin-right: 0.3%;
    position: absolute;
    padding: 2px;

}
button{
    background:white;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.human{
    max-width: 90%;
    position: absolute;
    padding: 0%; 
    padding-left: 80px;
    margin:60px;
}
.mankind-bottom{
    margin-top: -16vw;
}
.mankind{
        display:inline-block;
        vertical-align: middle;
        padding:  0;;
        position: relative;
        bottom: 0%;
        margin: 30px;
}
.hero-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-size-largest{
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-family: lora,sans-;
    align-items: center;
}
.div-bliock-12{
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}
.padding-small {
    padding: 1rem;
}
.btn.is--white {
    border-width: 3px;
    border-color: #000;
    background-color: #fff;
    color: #000;
}
div{
    display: block;
}
.section{
    display: block;
    box-sizing: border-box;
}
.page-padding{
    display: block;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    box-sizing: border-box;
}
.container-medium{
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
}
.padding-vertical {
    padding-right: 0rem;
    padding-left: 0rem;
}
.fund-block {
     display: grid;
    padding: 24px;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 5px solid #000;
    border-radius: 32px;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    background-color: transparent;
}
.chero_content-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-row-gap: 1.5rem;
    border-radius: 0.5rem;
}
.w-inline-block {
    max-width: 100%;
    display: inline-block;
}
h3 {
    color: black;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: 'TT Commons Pro', sans-serif;
    font-size: 2rem;
    line-height: 1.15;
    font-weight: 800;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}
.text-size-large {
    font-family: Lora, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0rem;
    margin-top: 0;

}
img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle ;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
 }
 .btn.is--yellow {
        border-color: #ffd91a;
        background-color: #ffd91a;
        color: #000;
}
.w-button {
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
    }
    .container-large {
        margin-right: auto !important;
        margin-left: auto !important;
    }
    .padding-xhuge {
        padding: 6rem;
    }
    .container-large {
        position: relative;
        width: 100%;
        max-width: 80rem;
        margin-right: auto;
        margin-left: auto;
    }
    .multi_comp {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 3.5rem;
    }
    .multi_img.is--1 {
        width: 70%;
        max-width: 20rem;
    }
    img{
        vertical-align: middle;
        display: inline-block;
        border: 0;
    
    }
    .running{
        padding-left: 12%;
    }
    h2 {
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-family: 'TT Commons Pro', sans-serif;
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 700;
    }
    .mutli_right-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-row-gap: 1.5rem;
    }
    .texting{
        grid-column-start: span 1;
        grid-column-end: span 1;
        grid-row-start: span 1;
        grid-row-end: span 1;
    }
    .text-size{
            margin-top: 0rem 0px 16px   ;
            margin-bottom: 1rem;
            font-family: Lora, sans-serif;
            font-size: 1.5rem;
            line-height: 1.5;
            font-weight: 400;
        }
        .btn {
            padding-top: 0px;
            border-width: 3px;
            border-color: #000;
            background-color: #fff;
            color:white;
            padding: 1rem 1.5rem;
            justify-content: center;
            align-items: center;
            grid-column-gap: 0.625rem;              
              border-style: solid;
            border-width: 3px;
            border-color: #000;
            border-radius: 3rem;
            background-color: #000;
            transition: all 100ms ease-in-out;
                font-family: 'TT Commons Pro', sans-serif;
                color: #fff;
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
            }
           
            button:hover {
                background-color:red;
              }
              .padding-control {
                padding-right: 0rem;
                padding-left: 0rem;
            }
            .padding-huge {
                padding: 6rem;
            }
            .art-char_comp {
                display: flex;
                max-width: 64rem;
                margin-right: auto;
                margin-left: auto;
                flex-direction: column;
                align-items: center;
                grid-column-gap: 0px;
                grid-row-gap: 1.5rem;
            }
            .bio-grid {
                display: -ms-grid;
                display: grid;
                padding: 5rem;
                justify-items: center;
                align-items: start;
                align-content: start;
                grid-auto-columns: 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                border: 4px solid #000;
                border-radius: 16px;
                background-color: #fff;
            }
            #w-node-_2f693565-e295-d112-6993-a2ac918378dc-49ca3d44 {
                -ms-grid-row-align: center;
                align-self: center;
            }